/* You can add global styles to this file, and also import other style files */

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
 }
   

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
