<mat-toolbar color="primary" class="mat-elevation-z4">
  Change Password
</mat-toolbar>

<mat-card>

  <p *ngIf="error"> {{error}} !!</p>

  <div>
    <form #changePasswordForm="ngForm" >
      <mat-form-field >
        <input matInput placeholder="Existing Password" [(ngModel)]="currentPassword" name="currentPassword" type="password" required>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" type="password" #np="ngModel" required>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder="Confirm New Password" [(ngModel)]="cNewPassword"  name="cNewPassword" type="password" #cnp="ngModel" required>
        <mat-error *ngIf="newPassword != cNewPassword">Confirm Password incorrect.</mat-error>
      </mat-form-field>
      <br>
    
      <button mat-raised-button (click)='cancel()' >Cancel</button>
      <button mat-raised-button color="primary" (click)='changePassword()' disabled="{{!changePasswordForm.valid || newPassword != cNewPassword}}">Save</button>
    </form>
  </div>

</mat-card>
