<mat-toolbar color="primary" class="mat-elevation-z4">
    Add / Update Scheme
</mat-toolbar>

<mat-form-field class="e-full-width">
    <input type="text" placeholder="ASSET CLASS" aria-label="assetClass" matInput [formControl]="glMfglClassCodeControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" (optionSelected)='onGlMfglClassCodeChange($event.option.value)'>
        <mat-option *ngFor="let option of filteredGlMfglClassCodes | async" [value]="option">
        {{option.classCode}} :: {{option.descr}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<br>
<br>

<div *ngIf="selectedGlMfglClassCode && !isNew && !isUpload && !isEdit"> <!-- select existing code block -->
    <mat-form-field class="e-full-width">
        <input type="text" placeholder="T0506 (SUB ASSET CLASS)" aria-label="subAssetClass" matInput [formControl]="subAssetClassCodeControl" [matAutocomplete]="auto1">
        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn1.bind(this)" (optionSelected)='onSubAssetClassCodeChange($event.option.value)'>
            <mat-option *ngFor="let option of filteredSubAssetClassCodes | async" [value]="option">
            {{option.code.slice(-2)}} :: {{option.descr}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button (click)="onNewCode()">Add New</button>
    <button *ngIf="selectedSubAssetClassCode" mat-raised-button (click)="onEditCode()">Edit Code</button>
    <button mat-raised-button (click)="onUploadCodes()">Upload Codes</button>
    <button mat-raised-button (click)="onExportCodes()">Export Codes</button>
    <br>
    <br>
</div>

<div *ngIf="isNew"> <!-- add new code block -->
    <b>T0506 (SUB ASSET CLASS)</b>
    <br>
    <div *ngIf="errorMessage">
        <span style="color:red">!! {{errorMessage}}</span>
        <br>
    </div>
    <form #newCodeForm="ngForm" >
        <mat-form-field class="e-full-width">
            <input matInput [(ngModel)]="newCode" name="newCode" #ncode="ngModel" placeholder="Sub Asset Class Code" required maxlength="2" minlength="2">
            <mat-hint >length 2</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="e-full-width">
            <input matInput [(ngModel)]="newDescr" name="newDescr" placeholder="Description" required maxlength="300">
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" (click)="onSelectExisitingCode()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSaveNew()" disabled="{{!newCodeForm.valid}}">Save</button>
        <br>

    </form>
</div>

<div *ngIf="isEdit"> <!-- edit code block -->
    <b>T0506 (SUB ASSET CLASS)</b>
    <br>
    <div *ngIf="errorMessage">
        <span style="color:red">!! {{errorMessage}}</span>
        <br>
    </div>
    <form #editCodeForm="ngForm" >
        <p>Code: {{selectedSubAssetClassCode?.code?.slice(-2)}}</p>
        <mat-form-field class="e-full-width">
            <input matInput [(ngModel)]="descr" name="descr" placeholder="Description" required maxlength="300">
        </mat-form-field>
        <br>

        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button (click)="onUpdate()" color="primary" disabled="{{!editCodeForm.valid}}">Save</button>
        <br>

    </form>
</div>

<div *ngIf="isUpload"> <!-- upload codes block -->
    <b>T0506 (SUB ASSET CLASS)</b>
    <br>
    <div *ngIf="!uploadInProgress">
        <div *ngIf="uploadError">
          <p>{{uploadError}}</p>
          <button mat-raised-button color="primary"  (click)="downloadErrors()">Download Errors</button>
        </div>
        <p>{{uploadMessage}}</p>
        <input type="file" (change)="fileChange($event)" placeholder="Select file" accept=".csv">
    
        <br>
        <br>
        <button mat-raised-button color="primary"  (click)="uploadCodes()" disabled="{{!file}}">Upload CSV file</button>
        <P>
          Please note, the first line in the cvs file must contain the column names.
          (CODE, DESCR)
        </P>
        <br>
    
        <button mat-raised-button (click)="onBackToSelectExisitingCode()">Back</button>
      </div>
      <div  *ngIf="uploadInProgress">
        <mat-spinner></mat-spinner>
      </div>
    
    
</div>

