<mat-toolbar color="primary" class="mat-elevation-z4">
  <span style="overflow:hidden">User Administration</span>
  <span >&nbsp;&nbsp;</span>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)='createUser()'>Create User</button>
</mat-toolbar>

<mat-card>
  <!-- search panel -->
  <div>
    <h4>Search User By</h4>
    <mat-radio-group [(ngModel)]="searchBy">
      <mat-radio-button value="user_code"></mat-radio-button>
      <mat-form-field >
        <input matInput placeholder="User Code" [(ngModel)]="userCode" disabled="{{searchBy != 'user_code'}}">
      </mat-form-field>
      <span >&nbsp;&nbsp;</span>
      <mat-radio-button value="user_name"></mat-radio-button>
      <mat-form-field >
        <input matInput placeholder="User Name" [(ngModel)]="userName" disabled="{{searchBy != 'user_name'}}">
      </mat-form-field>
      <span >&nbsp;&nbsp;</span>
      <mat-radio-button value="email"></mat-radio-button>
      <mat-form-field >
        <input matInput placeholder="Email" [(ngModel)]="email" disabled="{{searchBy != 'email'}}">
      </mat-form-field>
      <br>
    </mat-radio-group>
    <button mat-raised-button color="primary" (click)='search()'>Search</button>
  </div>

  <mat-divider></mat-divider>

  <!-- user list -->
  <div *ngIf="users?.length > 0">
    <table class="mat-table">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell"> First Name </th>
          <th class="mat-header-cell"> Last Name </th>
          <th class="mat-header-cell"> Email </th>
          <th class="mat-header-cell"> User Code </th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row" *ngFor="let user of users">
          <td class="mat-cell"><a [routerLink]="['/dashboard/viewuser']" [queryParams]="{usercode: user.userCode}"> {{user.firstName}} </a></td>
          <td class="mat-cell"><a [routerLink]="['/dashboard/viewuser']" [queryParams]="{usercode: user.userCode}"> {{user.lastName}} </a></td>
          <td class="mat-cell"><a [routerLink]="['/dashboard/viewuser']" [queryParams]="{usercode: user.userCode}"> {{user.email}} </a></td>
          <td class="mat-cell"><a [routerLink]="['/dashboard/viewuser']" [queryParams]="{usercode: user.userCode}"> {{user.userCode}} </a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--<div class="e-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firsName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="userCode">
        <th mat-header-cell *matHeaderCellDef> User Code </th>
        <td mat-cell *matCellDef="let element"> {{element.userCode}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>-->

</mat-card>
